<div class="content">
    <div class="row">
        <h1>Usuários [{{tenant.name}}] - Total: <b>{{total}}</b></h1>
    </div>
    <div class="row">
        <div class="col-md-7">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th width="50%">Nome</th>
                        <th width="50%">E-mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in list">
                        <th scope="row">{{value.id}}</th>
                        <td>{{value.name}}</td>
                        <td>{{value.email}}</td>
                        <td>
                            <button type="button" confirm-click="deleteUser(value)" confirm-click-message="Você tem certeza que deseja excluir o usuário?"
                                class="btn btn-danger btn-xs">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <form novalidate name="form">
                <div class="form-group">
                    <label for="role">Perfil</label>
                    <input type="text" ng-model="user.role" class="form-control" id="role" name="role" placeholder="Perfil">

                    <div ng-show="form.$submitted || form.role.$touched || form.role.$error.server" class="text-danger padding form error-message">
                        <p ng-show="form.role.$error.required">Este campo é obrigatório.</p>
                        <p ng-show="form.role.$error.server">{{form.name.$error.server}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Nome do Usuário</label>
                    <input type="text" ng-model="user.name" class="form-control" id="name" name="name" placeholder="Nome">

                    <div ng-show="form.$submitted || form.name.$touched || form.name.$error.server" class="text-danger padding form error-message">
                        <p ng-show="form.name.$error.required">Este campo é obrigatório.</p>
                        <p ng-show="form.name.$error.server">{{form.name.$error.server}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" ng-model="user.email" class="form-control" id="email" name="email" placeholder="E-mail">

                    <div ng-show="form.$submitted || form.email.$touched || form.email.$error.server" class="text-danger padding form error-message">
                        <p ng-show="form.email.$error.required">Este campo é obrigatório.</p>
                        <p ng-show="form.email.$error.email">Informe um e-mail valido.</p>
                        <p ng-show="form.email.$error.server">{{form.email.$error.server}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" required ng-model="user.cpf" class="form-control" id="cpf" name="cpf" placeholder="CPF">

                    <div ng-show="form.$submitted || form.cpf.$touched || form.cpf.$error.server" class="text-danger padding form error-message">
                        <p ng-show="form.cpf.$error.required">Este campo é obrigatório.</p>
                        <p ng-show="form.cpf.$error.server">{{form.cpf.$error.server}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fone">Telefone</label>
                    <input type="text" ng-model="user.fone" class="form-control" id="fone" name="fone" placeholder="Telefone">

                    <div ng-show="form.$submitted || form.fone.$touched || form.fone.$error.server" class="text-danger padding form error-message">
                        <p ng-show="form.fone.$error.required">Este campo é obrigatório.</p>
                        <p ng-show="form.fone.$error.server">{{form.fone.$error.server}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" ng-model="user.password" class="form-control" id="password" name="password" placeholder="Senha">

                    <div ng-show="form.$submitted || form.password.$touched || form.password.$error.server" class="text-danger padding form error-message">
                        <p ng-show="form.password.$error.required">Este campo é obrigatório.</p>
                        <p ng-show="form.password.$error.server">{{form.password.$error.server}}</p>
                    </div>
                </div>

                <button type="button" ng-click="create(form)" class="btn btn-success">Criar</button>
            </form>
        </div>
    </div>
</div>