body {
  padding-top: 70px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.error-message, .message-box {
  margin-top: 5px;
  margin-left: 5px;
}
.script-popover {
  width: 400px;
  max-width: 400px !important;
}
.script-popover .popover-title {
  text-align: center;
  font-weight: bold;
}
.box-padding {
  padding: 5px;
}